body {
  display: flex;
  flex-direction: column;
}

.recipe {
  display: flex;
  justify-content: center;
  gap: 100px;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  align-items: center;
}

label {
  margin-left: 10px;
}

input[type="checkbox"] {
  appearance: none;
  outline: none;
  cursor: pointer;
  border: 18px solid rgba(48, 70, 99, 0.281);
  border-radius: 6px;
}
input[type="checkbox"]:checked {
  background-color: rgba(56, 248, 162, 0.983);
}

div {
  border: 1px solid red;
}

.recipe-header,
.history-header,
.page-header {
  text-align: center;
  font-size: 30px;
}
