body {
  display: flex;
  flex-direction: column;
}

.recipe {
  display: flex;
  justify-content: center;
  gap: 90px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  display: flex;
  align-items: center;
}

label {
  margin-left: 10px;
  color: gray;
  font-weight: bold;
}

input[type="checkbox"] {
  appearance: none;
  outline: none;
  cursor: pointer;
  border: 18px solid rgba(48, 70, 99, 0.281);
  border-radius: 6px;
}

input[type="checkbox"]:checked {
  background-color: rgba(56, 248, 162, 0.983);
}

input[type="checkbox"]:checked + label {
  font-weight: bold;
  color: rgb(33, 132, 33);
}

div {
  border: 1px solid red;
}

.recipe-header,
.history-header,
.page-header {
  text-align: center;
  font-size: 30px;
}

.select-item,
.ingredient-header {
  margin: 0px;
}

.scroll-background {
  background-image: url("/images/scroll.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 320px;
  padding-top: 60px;
  padding-left: 40px;
}
