body {
  display: flex;
  flex-direction: column;
}

.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  margin: 5px;
  font-size: 20px;
}

.checklist-label {
  margin-left: 10px;
  color: rgb(100, 99, 99);
  font-weight: bold;
}

.hidden-cb:checked + .checklist-label {
  color: rgb(1, 89, 1);
}

.checklist-label::before {
  content: url(images/empty-check-mark.png);
  cursor: pointer;
}

.hidden-cb:checked + .checklist-label::before {
  content: url(images/fill-check-mark.png);
}

.hidden-cb {
  position: absolute;
  clip: rect(0 0 0 0);
}

.recipe-header,
.history-header,
.page-header {
  text-align: center;
  font-size: 30px;
}

.select-item,
.ingredient-header {
  margin: 0px;
  color: rgb(76, 40, 26);
}

.stone-background {
  background-image: url(images/stone.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 300px;
  padding-top: 70px;
  padding-left: 75px;
}
