@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=MedievalSharp&family=Rubik+Lines&family=Rubik+Scribble&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Germania+One&family=MedievalSharp&family=Rubik+Lines&family=Rubik+Scribble&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@900&family=Germania+One&family=MedievalSharp&family=Rubik+Lines&family=Rubik+Scribble&family=Space+Mono&display=swap");

body {
  display: flex;
  flex-direction: column;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 0;
}

.background-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(images/mini-world.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 110vw 100vh;
  z-index: -1;
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 28, 28, 0.578);
}

.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-header,
.page-header {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
  color: rgb(248, 241, 230);
  background-color: rgba(230, 209, 199, 0.171);
  border-radius: 10px;
}

.page-header {
  margin-top: 8px;
}

.recipe-header {
  margin-top: 20px;
}

.click-book-prompt {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(248, 241, 230);
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  margin: 5px;
  font-size: 20px;
}

.checklist-label {
  margin-left: 10px;
  color: rgb(82, 80, 80);
  font-weight: bold;
  text-shadow: 8px 8px 8px rgba(70, 69, 69, 0.57);
}

.stone-background {
  background-image: url(images/stone.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 300px;
  padding-top: 70px;
  padding-left: 75px;
}

/* Ingredients List Functionality */
.hidden-cb:checked + .checklist-label {
  color: rgb(23, 80, 23);
}

.checklist-label::before {
  content: url(images/empty-check-mark.png);
  cursor: pointer;
}

.hidden-cb:checked + .checklist-label::before {
  content: url(images/fill-check-mark.png);
}

.hidden-cb {
  position: absolute;
  clip: rect(0 0 0 0);
}

.select-item,
.ingredient-header {
  margin: 0px;
  color: rgba(93, 36, 7, 0.766);
  text-shadow: 8px 8px 8px rgba(70, 69, 69, 0.662);
}

/* Book Functionality */
.book-label::before {
  content: url(images/closed-book.png);
  padding-left: 480px;
  position: relative;
  top: 10px;
}

.hidden-cb:checked + .book-label::before {
  content: url(images/open-book.png);
  padding-left: 270px;
  position: relative;
  top: 22px;
}

.hidden-cb:checked + .book-label .text-overlay {
  display: block;
}

/* Book content */
.book-content {
  display: none;
}

.hidden-cb:checked + .book-label .book-content {
  display: block;
}

.left-page {
  position: absolute;
  left: 505px;
  top: 90px;
  width: 235px;
}

.right-page {
  position: absolute;
  right: 450px;
  top: 118px;
  width: 300px;
}

.right-page,
.left-page,
h5 {
  margin-top: 15px;
  margin-bottom: -10px;
}

.history-info {
  font-family: MedievalSharp, sans-serif;
  color: rgb(110, 7, 7);
}

.era-title {
  font-family: "Germania One", sans-serif;
  color: rgb(110, 7, 7);
}

.fish {
  width: 120px;
  height: 65px;
  margin-top: -40px;
  margin-left: 200px;
}

.lime {
  width: 50px;
  height: 40px;
  margin-top: -20px;
  margin-left: 270px;
}

/* Iframe */
.rounded-iframe {
  border-radius: 10px;
}
