@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=MedievalSharp&family=Rubik+Lines&family=Rubik+Scribble&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Germania+One&family=MedievalSharp&family=Rubik+Lines&family=Rubik+Scribble&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@900&family=Germania+One&family=MedievalSharp&family=Rubik+Lines&family=Rubik+Scribble&family=Space+Mono&display=swap");

body {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
}

.background-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(images/backgrounds/mini-world.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 112vw 101vh;
  z-index: -1;
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(171, 154, 136, 0.53);
}

.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-header,
.page-header {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 35px;
  margin-bottom: 0px;
  color: rgb(74, 31, 2);
  /* background-color: rgba(73, 28, 2, 0.265); */
  text-shadow: 3px 2px 2px rgb(229, 129, 7);
  border-radius: 10px;
}

.page-header {
  margin-top: 30px;
}

.recipe-header {
  margin-top: 10px;
}

/* Ingredients List Functionality */
.hidden-cb:checked + .checklist-label {
  color: rgb(9, 66, 9);
  text-shadow: 1px 1px 4px #68f522;
}

.checklist-label::before {
  content: url(images/checkmarks/empty-check-mark.png);
  cursor: pointer;
}

.hidden-cb:checked + .checklist-label::before {
  content: url(images/checkmarks/fill-check-mark.png);
}

.hidden-cb {
  position: absolute;
  clip: rect(0 0 0 0);
}

.select-item,
.ingredient-header {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 900;
}

.ingredient-header {
  text-shadow: 3px 1px 0px rgb(53, 1, 1);
  color: rgb(128, 2, 2);
  margin-bottom: 0px;
}

.select-item {
  font-size: 10px;
  text-shadow: 2px 1px 1px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin-top: 0;
  margin-bottom: 15px;
}

/* Ingredient List contents*/
.stone-background {
  background-image: url(images/stone.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 530px;
  height: 335px;
  padding-top: 60px;
  padding-left: 70px;
}

.checklist-label {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 700;
  margin-left: 10px;
  color: rgb(82, 80, 80);
  font-size: 15px;
}

.ingredients-list {
  list-style-type: none;
  padding: 0px;
  max-height: 175px;
  overflow-y: auto;
}

li {
  margin-bottom: 5px;
}

/* Book Functionality */
.book-label::before {
  content: url(images/books/closed-book.png);
  padding-left: 480px;
  position: relative;
  top: -20px;
}

.hidden-cb:checked + .book-label::before {
  content: url(images/books/open-book.png);
  padding-left: 270px;
}

.hidden-cb:checked + .book-label .text-overlay {
  display: block;
}

.click-book-prompt {
  position: relative;
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: rgb(37, 18, 2);
  text-shadow: 1px 1px 1px rgba(177, 69, 7, 0.801);
  top: -40px;
}

/* Book content */
.book-content {
  display: none;
}

.hidden-cb:checked + .book-label .book-content {
  display: block;
}

.hidden-cb:checked + .book-label + .click-book-prompt {
  display: none;
}

.left-page {
  position: absolute;
  left: 489px;
  top: 80px;
  width: 235px;
}

.right-page {
  position: absolute;
  right: 465px;
  top: 100px;
  width: 300px;
}

.right-page,
.left-page,
h5 {
  margin-top: 15px;
  margin-bottom: -10px;
}

.history-info {
  font-family: MedievalSharp, sans-serif;
  color: rgb(110, 10, 10);
}

.era-title {
  font-family: "Germania One", sans-serif;
  color: rgb(157, 2, 2);
}

/* Dish items */
.fish {
  width: 100px;
  height: 60px;
  margin-top: -30px;
  margin-left: 220px;
}

.herbs {
  width: 500px;
  height: 300px;
  margin-top: -10px;
}

.empanada {
  height: 90px;
  margin-top: -25px;
  margin-left: 160px;
}

.pig-cut {
  height: 110px;
  margin-left: 50px;
}

.corn-cobs {
  height: 195px;
  margin-left: 140px;
  margin-top: -35px;
  transform: scaleX(-1);
}

.beans {
  height: 95px;
  margin-left: 170px;
}

.cows-grazing {
  height: 150px;
  margin-left: 134px;
  margin-top: -65px;
}

.cassava {
  height: 195px;
  margin-top: -35px;
  margin-left: 110px;
}

.egg {
  height: 220px;
  margin-top: -55px;
  margin-left: 50px;
}

.chicken {
  height: 90px;
  margin-left: 110px;
  margin-top: -28px;
}

.grilling {
  height: 150px;
  margin-top: -20px;
  margin-left: 50px;
}

/* Iframe */
.rounded-iframe {
  border-radius: 10px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.476);
}

.footer {
  margin: 0;
  color: rgb(241, 187, 154);
}

a {
  text-decoration: none;
  color: #c62b29;
  font-weight: bold;
}
