.header,
.sub-header {
  color: #203b71;
  font-family: "Cinzel Decorative", sans-serif;
}

.header {
  text-align: center;
  padding-top: 50px;
  font-weight: 900;
}

.sub-header {
  text-align: center;
  font-weight: 400;
}

h1,
p,
h5 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url(images/backgrounds/field-women.jpg);
  background-size: 100% 118%;
  background-repeat: no-repeat;
}

.map-container {
  display: flex;
  justify-content: center;
}

.map-container svg {
  min-width: 1500px;
  min-height: 700px;
  max-width: 1500px;
  max-height: 724px;
}

/* footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #8f8d8d;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.476);
  font-size: 11px;
} */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.476);
  color: rgb(177, 214, 246);
}

.footer {
  margin: 0;
}

a {
  text-decoration: none;
  color: #759cf5;
  font-weight: bold;
}

use:hover {
  fill: rgba(0, 0, 0, 0.736);
  cursor: url(images/cursor/pin.png) 0 21, auto;
}

use {
  opacity: 0.7;
}
