.header {
  color: palegoldenrod;
  text-align: center;
  margin: 0;
}

h1,
h4,
p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url(/images/field-women.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.map-container {
  display: flex;
  justify-content: center;
}

.map-container svg {
  min-width: 1500px;
  min-height: 700px;
  max-width: 1500px;
  max-height: 700px;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: palegoldenrod;
}

a {
  text-decoration: none;
  color: palegoldenrod;
  font-weight: bold;
}

use:hover {
  fill: rgba(147, 122, 122, 0.249);
  cursor: url(/images/pin.png) 0 21, auto;
}

use {
  opacity: 0.7;
}
