.header {
  color: palegoldenrod;
  text-align: center;
  margin: 0;
  background-color: royalblue;
}

h1,
h4 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: aliceblue;
  color: darkblue;
}
