.header {
  color: #538fdfd1;
  text-align: center;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: aliceblue;
  color: darkblue;
}
