.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #203b71;
  margin: 0;
  padding-top: 25px;
  font-family: "Cinzel", sans-serif;
}

.divider {
  margin: 20px;
  width: 100px;
}

h5 {
  color: #203b71;
}

h1,
p,
h5 {
  margin: 0;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-image: url(images/backgrounds/field-women.jpg);
  background-size: 100% 118%;
  background-repeat: no-repeat;
}

.map-container {
  display: flex;
  justify-content: center;
}

.map-container svg {
  min-width: 1500px;
  min-height: 700px;
  max-width: 1500px;
  max-height: 700px;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #8f8d8d;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.476);
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #8f9ec1;
  font-weight: bold;
}

use:hover {
  fill: rgba(0, 0, 0, 0.736);
  cursor: url(images/cursor/pin.png) 0 21, auto;
}

use {
  opacity: 0.7;
}
